
html {
  --body:#FFFFFF;
  --color: #6D7765;
  --date: #8C8C8C;
  --search: #EDEDED;
  --border-search: #F6F6F6;
  --search-text: #676767;
  --highlight: #D9DBD5;
  --forVideo: #919191;
}

html[data-theme='Dark'] {
  --body: #33383B;
  --color: #D3D4D5;
  --date: #9FA2A5;
  --search: #2A2F32;
  --border-search: #131C21;
  --search-text: #D3D4D5;
  --highlight: #131C21;
  --forVideo: #B1B3B5;
}

body{
  background-color: var(--body);
}

p{
  color: var(--color);
  font-size: 18px;
}

input{
  background-color: var(--body);
  color: var(--color);
  border: 1px solid var(--color);
  outline: none;
  margin-right: 5px;
  margin-bottom: 10px;
}

.gg{
  display: inline-block;
}

.dummy{
  display: block; 
  margin: 10px;
}
/* #msg{
  display: none;
} */

button{
  padding: 6px;
  margin: 6px;
  display: inline-block;
}

.input_list{
  margin-top: 10px;
  display: inline-block;
}

.imageClass{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.fileVideo{
  width: 250px;
  height: 200px;
}

.fileAudio, 
.fileVideo{
  padding: 10px 0;
  margin: 5px 0;
  outline: none;
}

.addTextColor{
  color: var(--date);
}

.nameText{
  color: var(--date)
}

em{
  font-size: 10px;
  color: var(--date);
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

#myUL {
  width: inherit;
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid var(--border-search);
  margin-top: -1px;
  background-color: var(--search);
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  color: var(--search-text);
  display: block
}

#myUL li a:hover:not(.header) {
  background-color:var(--highlight);
}

#streamVideo, #canvasImage{
  width: 250px;
  object-fit: cover;
}

.option_controls{
  display: flex;
}

.addCameraAdd{
  display: flex;
}

.forSvgs{
display: inline-block;
margin-top: 10px;
}

#rotate{
  color: var(--forVideo)!important;
  width: 32px;
  height: 32px;
}

#rotate:hover{
  cursor: pointer;
 }

.options{
  color: var(--forVideo);
  margin: 10px 0;
  padding: 0 10px;
  font-size: 22px;
}

.options:hover{
 cursor: pointer;
}

.recorderVideoStream{
  width: 250px;
}

.addRecorderColor{
color:#FF0000;
}

@keyframes mymove {
  100% {transform:  rotateY(180deg);}
}

@keyframes mymoveback {
  100% {transform:  rotateY(-180deg);}
}

/* .chat_window{
  overflow: scroll;
  width: 500px;
  height: 400px;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  overflow-x: hidden;
}

.chat_window::-webkit-scrollbar {
  width: 4px;
}

.chat_window::-webkit-scrollbar-track {
  background: transparent;
}

.chat_window::-webkit-scrollbar-thumb {
  background: #bdbdbd;
} */